* { margin: 0;padding: 0;border: 0;}
body { margin-left: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;font-family: Arial, Helvetica, sans-serif;font-size: 14px;font-style: normal;font-weight: normal;color: #282828;background:#ccdadc;line-height:18px;}
h2,h3, h4 { font-size: 16px;margin: 0px;padding: 0px;}
h1{ font-size: 34px;margin: 0px auto;padding: 0px;padding-top: 14px;}
p { line-height:18px;margin-bottom: 10px;}
.wrapper { width:970px;padding: 10px;margin-top: 0px;margin-right: auto;margin-bottom: 0px;margin-left: auto;background-color:#ffffff;}
.header { width: 100%;height:80px;}
.navigation { width: 100%;background-color:#98bf21;}
.container { width:100%;padding: 0px;margin: 0px;}
.content-homepage { width:100%;margin-top: 10px;}
.content { width:660px;float:left;margin-top: 10px;padding-right: 10px;}
.sidebar { width:300px;float:right;margin-top: 10px;}
.footer { width:100%;background-color:#dedede;height:50px;}
.footer p{ padding-top: 14px;margin-top: 10px;padding-left: 5px;}
.clear { clear:both;}
#blog-pager, .blog-feeds, .post-footer{display:none;}

ul#pagesnav
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
background-color:#98bf21;
}
#pagesnav li
{
float:left;
list-style-type:none;
}
a:link,a:visited
{
display:block;
width:120px;
font-weight:bold;
color:#FFFFFF;
background-color:#98bf21;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
background-color:#7A991A;
}
.sidebar h2{color:#8c1f1f;margin-bottom:5px;}
#content h3{color:#8c1f1f;margin-bottom:5px;margin-top:5px;}
.sidebar .widget{border:1px solid #cccccc;padding:4px;margin-bottom:10px;}